.campaign-container {
    display: inline-block;
    margin: 35px;
    padding-top: 35px;
}

ngb-carousel {
    width: 550px;
    height: 350px;
}
ngb-carousel img {
    width: 550px;
    height: 350px;
}

.carousel-caption {
    left: 0;
    width: 550px;
    background-color:black;
    color: #fff; 
    display: inline;
    padding:0;
    opacity: 0.6;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.create-container {
    margin-left: 35px;
    margin-top: 11px;

}