.card {
    /* float: left; */
    margin: 20px;
}

.card-container {
   display: flex;
   justify-content: center;
   margin-top: 44px;
    
}

.card-img-top {
    height: 270px;
}

.card-body {
    height: 200px;
    background-color: whitesmoke;
}

.card-button {
    bottom: 7px;
    position: absolute;
    right: 7px;
}
